<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Concepten & Evenementen</h3>
            <p> Bij Jollyfish Productions staan we open voor ideeën van anderen, maar voelen ons vooral verantwoordelijk dat de visie en identiteit van de ondernemer gewaarborgd word. Heb je een idee, wil je meer inzicht of verduidelijking van je visie? Dan helpen wij bij het ontwikkelen en opzetten van;</p>
            <ul>
              <li>Concepten</li>
              <li>Evenementen</li>
              <li>Workshops</li>
              <li>Marketing plan</li>
              <li>Promotie & presentatie</li>
              <li>Fotografie</li>
            </ul>
            <a href="contact.html" class="ghost-button2">Contact</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-8">
            <h3>Muziek Productie</h3>
            <p>Als artiest komt er soms meer bij kijken dan je zelf had voor zien, waarbij het openstellen naar muziek een zoektocht kan zijn. Heb je hulp nodig en/of wil je groeien vanaf het punt waar je nu staat, dan bieden wij ondersteuning bij de volgende onderdelen;</p>
            <ul>
              <li>Het programmeren van elektronische muziek</li>
              <li>Demo opnames</li>
              <li>Songteksten schrijven</li>
              <li>Componeren</li>
              <li>Podium presentatie/opstelling</li>
              <li>Tekst beleving</li>
              <li>Band coaching</li>
              <li>Studio coaching</li>
            </ul>
            <a href="contact.html" class="ghost-button2">Contact</a>
        </div>
    </div>
  </div>
    <!-- /.row -->

    <hr>
