<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="edit">Diensten</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-6 col-sm-10 hero-feature">
        <div class="thumbnail">
            <img src="/images/CONTACT.JPG" alt="">
            <div class="caption">
                <h3>Concepten & Evenementen</h3>
                <p>
                  Heb je een idee, wil je meer inzicht of verduidelijking van je visie? Dan helpen wij bij het ontwikkelen en opzetten daar van.
                    <a href="onze_diensten.html" class="ghost-button">Verder</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-10 hero-feature">
        <div class="thumbnail">
            <img src="/images/CONCEPT&MARKETING.jpg" alt="">
            <div class="caption">
                <h3>Muziek Productie</h3>
                <p>
                  Heb je hulp nodig en/of wil je groeien vanaf het punt waar je nu staat,dan bieden wij ondersteuning.
                    <a href="onze_diensten.html" class="ghost-button">Verder</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

<hr>
