<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Onze Diensten</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-4 col-sm-8 hero-feature">
        <div class="thumbnail">
            <img src="/images/dienst1.jpeg" alt="">
            <div class="caption">
                <h3>Webdevelopment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="#" class="ghost-button">Lees verder</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-8 hero-feature">
        <div class="thumbnail">
            <img src="/images/dienst2.jpeg" alt="">
            <div class="caption">
                <h3>Photografie</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="#" class="ghost-button">Lees verder</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-8 hero-feature">
        <div class="thumbnail">
            <img src="/images/dienst3.jpg" alt="">
            <div class="caption">
                <h3>Concept & marketing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="ghost-button">Lees verder</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

<hr>
